.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message-list::-webkit-scrollbar {
  width: 8px;
}

.message-list::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

.message-list-empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}